html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--mantine-color-body);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.main {
  flex-grow: 1;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footerContent span {
  flex-grow: 1;
}
